<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abi.tmall.ware.dao.mapper.WareSkuRelationMapper">
    <select id="getSkuStock" resultType="java.lang.Integer">
        SELECT SUM(stock - stock_locked)
        FROM wms_ware_sku_relation
        WHERE sku_code = #{skuCode}
    </select>
</mapper>